@import "tailwindcss";

.container {
  height: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
